.plusIcon {
    font-size: 35px;
    margin: 12px;
    color: white;
}
.ambulanceIcon {
    float: right;
    font-size: 35px;
    margin: 12px;
    color: white;
}
ion-toolbar{
 --ion-toolbar-background : #ff6f35;
 --ion-toolbar-border-color: #ff6f35;
 --opacity: 1;
}